In [7]:
import sys
import os

import pandas as pd

# Add the sibling directory to Python's search path
sibling_dir = os.path.abspath("../../utils")
sys.path.append(sibling_dir)

from data_utils import download_file, calculate_md5, cols, check_df_types, clean_float_str

pdf_url = "https://documents.barings.com/docs/barings-emerging-emea-opportunities-plc-portfolio-holdings-en.pdf"
save_location = "barings-emerging-emea-opportunities-plc-portfolio-holdings-en.pdf"

download_file(pdf_url, save_location)

md5_checksum = calculate_md5(save_location)
print(f"MD5 Checksum: {md5_checksum}")

File downloaded successfully and saved to barings-emerging-emea-opportunities-plc-portfolio-holdings-en.pdf
MD5 Checksum: 7dceb024d099d945c1a0cedc4e1599ae

In [8]:
# frig the pdf into a text file manually
with open("bemo_raw.txt", "r") as file:
    lines = file.readlines()
print(lines)

lines = lines[1:]
lines = [line.strip() for line in lines]

lines = [line.replace('10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON', '') for line in lines]
lines = [line.replace('EQUITY', '') for line in lines]
lines = [line.replace('CASH CASH', '') for line in lines]
lines = [line.split('%')[0] + '%' for line in lines]
lines = [line.strip() for line in lines]
lines

['Valuation DatePortfolio NamePortfolio CodeISSUER GROUPINGSEDOL CodeQuantity Currency Port. Ending WeightCOUNTRYWITHOVERIDETOPBOTTOMMSCISECTORTOPBOTTOMAsset Class (Client Definition/FactSet)\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON ABU DHABI COMMERCIAL BANK6545464 1,030,804 AED 2.27% United Arab EmiratesFinancials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON ADNOC DRILLING COMPANYBN12D39 2,225,680 AED 2.78% United Arab EmiratesEnergy EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON AKBANK A B03MN70 360,828 TRY 0.48% Turkey Financials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON AL MOUWASAT MEDICAL SERVICESB403QG4 9,987 SAR 0.23% Saudi ArabiaHealth CareEQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON AL RAJHI BANKB12LZH9 320,274 SAR 6.79% Saudi ArabiaFinancials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON ALDAR PROPERTIESB0LX3Y2 765,014 AED 1.44% United Arab EmiratesReal EstateEQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON ALLEGRO SABMBQDF6 90,590 PLN 0.72% Poland Consumer DiscretionaryEQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON ALPHA SERVICES AND HOLDINGS SABZ1MXR7 1,423,484 EUR 1.93% Greece Financials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON ANGLO AMERICAN PLATINUM LTD6761000 101 ZAR 0.00% South AfricaMaterials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON ANGLO AMERICAN PLCB1YW0L9 26,415 ZAR 0.73% South AfricaMaterials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON ANGLOGOLD ASHANTI PLCBRF6FX9 90,819 ZAR 2.28% South AfricaMaterials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON BID CORPORATION LTDBZBFKT7 31,499 ZAR 0.67% South AfricaConsumer StaplesEQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON BIM BIRLESIK MAGAZALAR AB0D0006 113,669 TRY 1.40% Turkey Consumer StaplesEQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON BUPA ARABIAB2RLCR0 12,713 SAR 0.62% Saudi ArabiaFinancials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON CAPITEC LTD6440859 26,523 ZAR 4.30% South AfricaFinancials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON DINO POLSKA SABD0YVN2 13,580 PLN 1.02% Poland Consumer StaplesEQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON DR SULAIMAN AL HABIB MEDICAL GRPBLGM738 21,084 SAR 1.45% Saudi ArabiaHealth CareEQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON EMAAR PROPERTIESB01RM25 744,743 AED 1.59% United Arab EmiratesReal EstateEQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON EMIRATES TELECOM6322173 409,997 AED 1.79% United Arab EmiratesCommunication ServicesEQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON ETIHAD ETISALATB12LR51 197,907 SAR 2.47% Saudi ArabiaCommunication ServicesEQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON FIRST ABU DHABI BANK6624471 484,421 AED 1.57% United Arab EmiratesFinancials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON FIRSTRAND LTD6606996 1,108,139 ZAR 4.37% South AfricaFinancials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON GAZPROM B59L4L7 824,340 RUB 0.00% Russian FederationEnergy EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON GEDEON RICHTERBC9ZH86 64,449 HUF 1.68% Hungary Health CareEQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON GMK NORILSKIY NIKELB5B1TX2 1,509,800 RUB 0.00% Russian FederationMaterials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON GOLD FIELDS LTD6280215 175,778 ZAR 2.61% South AfricaMaterials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON HACI OMER SABANCI HOLDING AB03N0C7 290,585 TRY 0.64% Turkey Financials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON IMPALA PLATINUM LTDB1FFT76 228,434 ZAR 1.35% South AfricaMaterials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON INDUSTRIES QATAR6673570 178,451 QAR 0.59% Qatar Industrials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON INPOST SA BN4N9C0 53,688 EUR 0.95% NetherlandsIndustrials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON JUMBO SA 7243530 55,410 EUR 1.33% Greece Consumer DiscretionaryEQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON KGHM POLSKA MIEDZ SA5263251 56,314 PLN 1.90% Poland Materials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON KOC HOLDING AB03MVJ8 174,104 TRY 0.78% Turkey Industrials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON KOMERCNI BANK4519449 44,816 CZK 1.40% Czech RepublicFinancials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON KUWAIT FINANCE HOUSE6503138 196,659 KWD 0.42% Kuwait Financials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON MOL HUNGARIAN OIL AND GASBD5ZXH8 63,789 HUF 0.40% Hungary Energy EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON MOSCOW EXCHANGEB9GFHQ6 86,875 RUB 0.00% Russian FederationFinancials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON MR PRICE GROUP LTDBYXW419 30,465 ZAR 0.40% South AfricaConsumer DiscretionaryEQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON MTN GROUP LTD6563206 199,835 ZAR 0.90% South AfricaCommunication ServicesEQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON NASPERS LIMITED LTD CLASS NBN0VX82 27,107 ZAR 5.75% South AfricaConsumer DiscretionaryEQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON NATIONAL BANK OF GREECE SABG087C6 75,367 EUR 0.53% Greece Financials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON NATIONAL BANK OF KUWAIT6889526 1,109,683 KWD 2.78% Kuwait Financials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON NEDBANK GROUP LTD6628008 45,833 ZAR 0.70% South AfricaFinancials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON NK LUKOIL B59SNS8 72,519 RUB 0.00% Russian FederationEnergy EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON NOVATEK B59HPK1 107,150 RUB 0.00% Russian FederationEnergy EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON OTP BANK 7320154 46,369 HUF 2.08% Hungary Financials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON PIRAEUS FINANCIAL HOLDINGS SABNC0DB0 280,371 EUR 0.95% Greece Financials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON POWSZECHNA KASA OSZCZEDNOSCI BANKB03NGS5 141,250 PLN 1.78% Poland Financials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON PZU SA B63DG21 147,630 PLN 1.32% Poland Financials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON QATAR NATIONAL BANK6148197 795,213 QAR 3.43% Qatar Financials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON RIYAD BANKB12LZW4 112,592 SAR 0.70% Saudi ArabiaFinancials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON SAUDI ARABIAN MININGB3C8VY3 197,368 SAR 2.68% Saudi ArabiaMaterials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON SAUDI ARABIAN OILBJTM270 360,592 SAR 2.35% Saudi ArabiaEnergy EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON SAUDI AWWAL BANKB12LSY7 121,258 SAR 0.99% Saudi ArabiaFinancials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON SAUDI BASIC INDUSTRIESB1324D0 173,192 SAR 3.03% Saudi ArabiaMaterials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON SAUDI TADAWUL GROUP COBMZQ749 33,425 SAR 1.92% Saudi ArabiaFinancials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON SAUDI TELECOMB12M7Q5 287,416 SAR 2.92% Saudi ArabiaCommunication ServicesEQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON SBERBANK ROSSII4767981 1,374,068 RUB 0.00% Russian FederationFinancials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON SHOPRITE HOLDINGS LTD6801575 100,821 ZAR 1.56% South AfricaConsumer StaplesEQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON THE COOPERATIVE INSURANCEB128FN6 7,160 SAR 0.24% Saudi ArabiaFinancials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON THE SAUDI NATIONAL BANKBSHYYN1 374,393 SAR 2.99% Saudi ArabiaFinancials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON TURKCELL ILETISIM HIZMETLERI AB03MYN3 124,340 TRY 0.28% Turkey Communication ServicesEQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON UNITED COMPANY RUSALBNGCVY1 572,570 RUB 0.00% Russian FederationMaterials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON YAPI VE KREDI BANKASI AB03MZJ6 809,808 TRY 0.52% Turkey Financials EQUITY\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON EUR CASH(Alpha Committed)CASH_EUR 3,910 EUR 0.00% European UnionCASH CASH\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON GBP CASH(Alpha Committed)CASH_GBP 1,352 GBP 0.00% United KingdomCASH CASH\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON KWD CASH(COMMITTED)CASH_KWD 56 KWD 0.00% Kuwait CASH CASH\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON PLN CASH(Alpha Committed)CASH_PLN 2,088 PLN 0.00% Poland CASH CASH\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON RON CASH(COMMITTED)CASH_RON 0 RON 0.00% Romania CASH CASH\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON SAR CASH(COMMITTED)CASH_SAR 1,479 SAR 0.00% Saudi ArabiaCASH CASH\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON TRY CASH(Alpha Committed)CASH_TRY 7 TRY 0.00% Turkey CASH CASH\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON USD CASH(Alpha Committed)CASH_USD4,667,019 USD 4.22% United StatesCASH CASH\n', '10/31/2024BARINGS EMERGING EMEA OPPORTUNITIES PLCKRYPTON ZAR CASH(Alpha Committed)CASH_ZAR 403 ZAR 0.00% South AfricaCASH CASH']

['ABU DHABI COMMERCIAL BANK6545464 1,030,804 AED 2.27%',
 'ADNOC DRILLING COMPANYBN12D39 2,225,680 AED 2.78%',
 'AKBANK A B03MN70 360,828 TRY 0.48%',
 'AL MOUWASAT MEDICAL SERVICESB403QG4 9,987 SAR 0.23%',
 'AL RAJHI BANKB12LZH9 320,274 SAR 6.79%',
 'ALDAR PROPERTIESB0LX3Y2 765,014 AED 1.44%',
 'ALLEGRO SABMBQDF6 90,590 PLN 0.72%',
 'ALPHA SERVICES AND HOLDINGS SABZ1MXR7 1,423,484 EUR 1.93%',
 'ANGLO AMERICAN PLATINUM LTD6761000 101 ZAR 0.00%',
 'ANGLO AMERICAN PLCB1YW0L9 26,415 ZAR 0.73%',
 'ANGLOGOLD ASHANTI PLCBRF6FX9 90,819 ZAR 2.28%',
 'BID CORPORATION LTDBZBFKT7 31,499 ZAR 0.67%',
 'BIM BIRLESIK MAGAZALAR AB0D0006 113,669 TRY 1.40%',
 'BUPA ARABIAB2RLCR0 12,713 SAR 0.62%',
 'CAPITEC LTD6440859 26,523 ZAR 4.30%',
 'DINO POLSKA SABD0YVN2 13,580 PLN 1.02%',
 'DR SULAIMAN AL HABIB MEDICAL GRPBLGM738 21,084 SAR 1.45%',
 'EMAAR PROPERTIESB01RM25 744,743 AED 1.59%',
 'EMIRATES TELECOM6322173 409,997 AED 1.79%',
 'ETIHAD ETISALATB12LR51 197,907 SAR 2.47%',
 'FIRST ABU DHABI BANK6624471 484,421 AED 1.57%',
 'FIRSTRAND LTD6606996 1,108,139 ZAR 4.37%',
 'GAZPROM B59L4L7 824,340 RUB 0.00%',
 'GEDEON RICHTERBC9ZH86 64,449 HUF 1.68%',
 'GMK NORILSKIY NIKELB5B1TX2 1,509,800 RUB 0.00%',
 'GOLD FIELDS LTD6280215 175,778 ZAR 2.61%',
 'HACI OMER SABANCI HOLDING AB03N0C7 290,585 TRY 0.64%',
 'IMPALA PLATINUM LTDB1FFT76 228,434 ZAR 1.35%',
 'INDUSTRIES QATAR6673570 178,451 QAR 0.59%',
 'INPOST SA BN4N9C0 53,688 EUR 0.95%',
 'JUMBO SA 7243530 55,410 EUR 1.33%',
 'KGHM POLSKA MIEDZ SA5263251 56,314 PLN 1.90%',
 'KOC HOLDING AB03MVJ8 174,104 TRY 0.78%',
 'KOMERCNI BANK4519449 44,816 CZK 1.40%',
 'KUWAIT FINANCE HOUSE6503138 196,659 KWD 0.42%',
 'MOL HUNGARIAN OIL AND GASBD5ZXH8 63,789 HUF 0.40%',
 'MOSCOW EXCHANGEB9GFHQ6 86,875 RUB 0.00%',
 'MR PRICE GROUP LTDBYXW419 30,465 ZAR 0.40%',
 'MTN GROUP LTD6563206 199,835 ZAR 0.90%',
 'NASPERS LIMITED LTD CLASS NBN0VX82 27,107 ZAR 5.75%',
 'NATIONAL BANK OF GREECE SABG087C6 75,367 EUR 0.53%',
 'NATIONAL BANK OF KUWAIT6889526 1,109,683 KWD 2.78%',
 'NEDBANK GROUP LTD6628008 45,833 ZAR 0.70%',
 'NK LUKOIL B59SNS8 72,519 RUB 0.00%',
 'NOVATEK B59HPK1 107,150 RUB 0.00%',
 'OTP BANK 7320154 46,369 HUF 2.08%',
 'PIRAEUS FINANCIAL HOLDINGS SABNC0DB0 280,371 EUR 0.95%',
 'POWSZECHNA KASA OSZCZEDNOSCI BANKB03NGS5 141,250 PLN 1.78%',
 'PZU SA B63DG21 147,630 PLN 1.32%',
 'QATAR NATIONAL BANK6148197 795,213 QAR 3.43%',
 'RIYAD BANKB12LZW4 112,592 SAR 0.70%',
 'SAUDI ARABIAN MININGB3C8VY3 197,368 SAR 2.68%',
 'SAUDI ARABIAN OILBJTM270 360,592 SAR 2.35%',
 'SAUDI AWWAL BANKB12LSY7 121,258 SAR 0.99%',
 'SAUDI BASIC INDUSTRIESB1324D0 173,192 SAR 3.03%',
 'SAUDI TADAWUL GROUP COBMZQ749 33,425 SAR 1.92%',
 'SAUDI TELECOMB12M7Q5 287,416 SAR 2.92%',
 'SBERBANK ROSSII4767981 1,374,068 RUB 0.00%',
 'SHOPRITE HOLDINGS LTD6801575 100,821 ZAR 1.56%',
 'THE COOPERATIVE INSURANCEB128FN6 7,160 SAR 0.24%',
 'THE SAUDI NATIONAL BANKBSHYYN1 374,393 SAR 2.99%',
 'TURKCELL ILETISIM HIZMETLERI AB03MYN3 124,340 TRY 0.28%',
 'UNITED COMPANY RUSALBNGCVY1 572,570 RUB 0.00%',
 'YAPI VE KREDI BANKASI AB03MZJ6 809,808 TRY 0.52%',
 'EUR CASH(Alpha Committed)CASH_EUR 3,910 EUR 0.00%',
 'GBP CASH(Alpha Committed)CASH_GBP 1,352 GBP 0.00%',
 'KWD CASH(COMMITTED)CASH_KWD 56 KWD 0.00%',
 'PLN CASH(Alpha Committed)CASH_PLN 2,088 PLN 0.00%',
 'RON CASH(COMMITTED)CASH_RON 0 RON 0.00%',
 'SAR CASH(COMMITTED)CASH_SAR 1,479 SAR 0.00%',
 'TRY CASH(Alpha Committed)CASH_TRY 7 TRY 0.00%',
 'USD CASH(Alpha Committed)CASH_USD4,667,019 USD 4.22%',
 'ZAR CASH(Alpha Committed)CASH_ZAR 403 ZAR 0.00%']

In [9]:
# don't do this every time
file_path = "bemo_raw2.txt"
# with open(file_path, "w") as file:
#     for line in lines:
#         file.write(line + "\n")

In [10]:
# bemo_raw2.txt needs to be manually frigger for now
with open("bemo_raw2.txt", "r") as file:
    lines = file.readlines()
print(lines)

['ABU DHABI COMMERCIAL BANK 6545464 1,030,804 AED 2.27%\n', 'ADNOC DRILLING COMPANY BN12D39 2,225,680 AED 2.78%\n', 'AKBANK A B03MN70 360,828 TRY 0.48%\n', 'AL MOUWASAT MEDICAL SERVICES B403QG4 9,987 SAR 0.23%\n', 'AL RAJHI BANK B12LZH9 320,274 SAR 6.79%\n', 'ALDAR PROPERTIES B0LX3Y2 765,014 AED 1.44%\n', 'ALLEGRO SABMBQDF6 90,590 PLN 0.72%\n', 'ALPHA SERVICES AND HOLDINGS SABZ1MXR7 1,423,484 EUR 1.93%\n', 'ANGLO AMERICAN PLATINUM LTD 6761000 101 ZAR 0.00%\n', 'ANGLO AMERICAN PLCB1YW0L9 26,415 ZAR 0.73%\n', 'ANGLOGOLD ASHANTI PLCBRF6FX9 90,819 ZAR 2.28%\n', 'BID CORPORATION LTDBZBFKT7 31,499 ZAR 0.67%\n', 'BIM BIRLESIK MAGAZALAR AB0D0006 113,669 TRY 1.40%\n', 'BUPA ARABIA B2RLCR0 12,713 SAR 0.62%\n', 'CAPITEC LTD 6440859 26,523 ZAR 4.30%\n', 'DINO POLSKA SA BD0YVN2 13,580 PLN 1.02%\n', 'DR SULAIMAN AL HABIB MEDICAL GRP BLGM738 21,084 SAR 1.45%\n', 'EMAAR PROPERTIES B01RM25 744,743 AED 1.59%\n', 'EMIRATES TELECOM 6322173 409,997 AED 1.79%\n', 'ETIHAD ETISALAT B12LR51 197,907 SAR 2.47%\n', 'FIRST ABU DHABI BANK 6624471 484,421 AED 1.57%\n', 'FIRSTRAND LTD 6606996 1,108,139 ZAR 4.37%\n', 'GAZPROM B59L4L7 824,340 RUB 0.00%\n', 'GEDEON RICHTERB C9ZH86 64,449 HUF 1.68%\n', 'GMK NORILSKIY NIKEL B5B1TX2 1,509,800 RUB 0.00%\n', 'GOLD FIELDS LTD 6280215 175,778 ZAR 2.61%\n', 'HACI OMER SABANCI HOLDING AB03N0C7 290,585 TRY 0.64%\n', 'IMPALA PLATINUM LTD B1FFT76 228,434 ZAR 1.35%\n', 'INDUSTRIES QATAR 6673570 178,451 QAR 0.59%\n', 'INPOST SA BN4N9C0 53,688 EUR 0.95%\n', 'JUMBO SA 7243530 55,410 EUR 1.33%\n', 'KGHM POLSKA MIEDZ SA 5263251 56,314 PLN 1.90%\n', 'KOC HOLDING AB03MVJ8 174,104 TRY 0.78%\n', 'KOMERCNI BANK4519449 44,816 CZK 1.40%\n', 'KUWAIT FINANCE HOUSE 6503138 196,659 KWD 0.42%\n', 'MOL HUNGARIAN OIL AND GAS BD5ZXH8 63,789 HUF 0.40%\n', 'MOSCOW EXCHANGE B9GFHQ6 86,875 RUB 0.00%\n', 'MR PRICE GROUP LTD BYXW419 30,465 ZAR 0.40%\n', 'MTN GROUP LTD 6563206 199,835 ZAR 0.90%\n', 'NASPERS LIMITED LTD CLASS NBN0VX82 27,107 ZAR 5.75%\n', 'NATIONAL BANK OF GREECE SA BG087C6 75,367 EUR 0.53%\n', 'NATIONAL BANK OF KUWAIT6 889526 1,109,683 KWD 2.78%\n', 'NEDBANK GROUP LTD 6628008 45,833 ZAR 0.70%\n', 'NK LUKOIL B59SNS8 72,519 RUB 0.00%\n', 'NOVATEK B59HPK1 107,150 RUB 0.00%\n', 'OTP BANK 7320154 46,369 HUF 2.08%\n', 'PIRAEUS FINANCIAL HOLDINGS SA BNC0DB0 280,371 EUR 0.95%\n', 'POWSZECHNA KASA OSZCZEDNOSCI BANK B03NGS5 141,250 PLN 1.78%\n', 'PZU SA B63DG21 147,630 PLN 1.32%\n', 'QATAR NATIONAL BANK 6148197 795,213 QAR 3.43%\n', 'RIYAD BANK B12LZW4 112,592 SAR 0.70%\n', 'SAUDI ARABIAN MINING B3C8VY3 197,368 SAR 2.68%\n', 'SAUDI ARABIAN OIL BJTM270 360,592 SAR 2.35%\n', 'SAUDI AWWAL BANK B12LSY7 121,258 SAR 0.99%\n', 'SAUDI BASIC INDUSTRIES B1324D0 173,192 SAR 3.03%\n', 'SAUDI TADAWUL GROUP COBMZQ749 33,425 SAR 1.92%\n', 'SAUDI TELECO MB12M7Q5 287,416 SAR 2.92%\n', 'SBERBANK ROSSI I4767981 1,374,068 RUB 0.00%\n', 'SHOPRITE HOLDINGS LTD 6801575 100,821 ZAR 1.56%\n', 'THE COOPERATIVE INSURANCE B128FN6 7,160 SAR 0.24%\n', 'THE SAUDI NATIONAL BANK BSHYYN1 374,393 SAR 2.99%\n', 'TURKCELL ILETISIM HIZMETLERI AB03MYN3 124,340 TRY 0.28%\n', 'UNITED COMPANY RUSAL BNGCVY1 572,570 RUB 0.00%\n', 'YAPI VE KREDI BANKASI AB03MZJ6 809,808 TRY 0.52%\n', 'EUR CASH(Alpha Committed) CASH_EUR 3,910 EUR 0.00%\n', 'GBP CASH(Alpha Committed) CASH_GBP 1,352 GBP 0.00%\n', 'KWD CASH(COMMITTED) CASH_KWD 56 KWD 0.00%\n', 'PLN CASH(Alpha Committed) CASH_PLN 2,088 PLN 0.00%\n', 'RON CASH(COMMITTED) CASH_RON 0 RON 0.00%\n', 'SAR CASH(COMMITTED) CASH_SAR 1,479 SAR 0.00%\n', 'TRY CASH(Alpha Committed) CASH_TRY 7 TRY 0.00%\n', 'USD CASH(Alpha Committed) CASH_USD 4,667,019 USD 4.22%\n', 'ZAR CASH(Alpha Committed) CASH_ZAR 403 ZAR 0.00%\n']

In [11]:
nav = 730.12 / 100 # 31/10/2024
shares_outstanding = 11.8e6
total_assets = nav * shares_outstanding

display(f"total assets: £{total_assets:,.0f}")

'total assets: £86,154,160'

In [12]:
def lines_to_df(lines):
    df = pd.DataFrame(columns=cols)

    for line in lines:
        sections = line.split(" ")

        sedol = sections[-4]
        weight = float(sections[-1].strip("\n").strip("%")) / 100
        holding = clean_float_str(sections[-3])
        name = " ".join(sections[0:-4])

        entry = {
            cols[0]: sedol,
            cols[1]: name,
            cols[2]: holding,
            cols[3]: weight * total_assets,
            cols[4]: weight,
        }

        entry_df = pd.DataFrame([entry])
        df = pd.concat([df, entry_df], ignore_index=True)



    return df

df = lines_to_df(lines)
check_df_types(df)
df

/tmp/ipykernel_1014813/2450879098.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, entry_df], ignore_index=True)

       SEDOL                          Name    Holding        Value  Weight
0    6545464     ABU DHABI COMMERCIAL BANK  1030804.0  1955699.432  0.0227
1    BN12D39        ADNOC DRILLING COMPANY  2225680.0  2395085.648  0.0278
2    B03MN70                      AKBANK A   360828.0   413539.968  0.0048
3    B403QG4  AL MOUWASAT MEDICAL SERVICES     9987.0   198154.568  0.0023
4    B12LZH9                 AL RAJHI BANK   320274.0  5849867.464  0.0679
..       ...                           ...        ...          ...     ...
68  CASH_RON           RON CASH(COMMITTED)        0.0        0.000  0.0000
69  CASH_SAR           SAR CASH(COMMITTED)     1479.0        0.000  0.0000
70  CASH_TRY     TRY CASH(Alpha Committed)        7.0        0.000  0.0000
71  CASH_USD     USD CASH(Alpha Committed)  4667019.0  3635705.552  0.0422
72  CASH_ZAR     ZAR CASH(Alpha Committed)      403.0        0.000  0.0000

[73 rows x 5 columns]

In [13]:
total_weight = df['Weight'].sum()
print("Total Weight:", total_weight)

total_value = df['Value'].sum()
print(f"Total Value: £{total_value:,.0f}")

Total Weight: 0.9997
Total Value: £86,128,314