In [1]:
import sys
import os

# Add the sibling directory to Python's search path
sibling_dir = os.path.abspath("../../utils")
sys.path.append(sibling_dir)

from data_utils import download_file, calculate_md5, lines_to_df, check_df_types

pdf_url = "https://www.blackrock.com/uk/literature/policies/bwmt-portfolio-disclosure.pdf"
save_location = "bwmt-portfolio-disclosure.pdf"

download_file(pdf_url, save_location)

md5_checksum = calculate_md5(save_location)
print(f"MD5 Checksum: {md5_checksum}")

File downloaded successfully and saved to bwmt-portfolio-disclosure.pdf
MD5 Checksum: 265ebb9f7b2012434df1408763efcbfd

In [2]:
# frig the pdf into a text file manually
with open("brwm_raw.txt", "r") as file:
    lines = file.readlines()  # Reads all lines into a list
print(lines)

lines = lines[7:-2]
lines = [line.strip() for line in lines]
lines

['BlackRock World Mining Trust plc\n', 'As at 30 June 2024\n', 'Portfolio Holdings\n', 'Security\n', 'Market Value\n', '(bid) % of\n', 'Number Security Holdings £ Portfolio\n', 'B4T3BW6 Glencore 21,852,325 98,575,838 8.2%\n', '6144690 BHP 3,211,088 72,405,556 6.0%\n', '9315284 BHP Brazil Royalty 12,000,000 19,935,132 1.7%\n', '0144403 BHP 58,636 1,326,932 0.1%\n', '0718875 Rio Tinto 1,442,689 75,019,828 6.2%\n', '0161M94V3 Rio Tinto Plc P/Opt 19/07/24 (300) (332,640) 0.0%\n', 'B1XZS82 Anglo American 2,707,836 67,750,057 5.6%\n', '01HM7D1S4 Anglo American Plc C/Opt 19/07/24 (600) (492,000) 0.0%\n', '2352118 Freeport-McMoran 1,586,354 60,989,482 5.0%\n', '01LYCQ5C5 Freeport-McMoran IncP/Opt 19/07/24 (3,000) (407,009) 0.0%\n', '2636607 Newmont 1,737,380 57,491,184 4.8%\n', '9346193 Vale 6,387,658 31,295,326 2.6%\n', '2857334 Vale 2,757,301 24,342,599 2.0%\n', '01NGZRYH1 Vale S.A. C/Opt 19/07/24 (13,000) (164,544) 0.0%\n', '2009823 Agnico Eagle Mines 1,001,112 51,567,613 4.3%\n', '2879327 Teck Resources 1,195,846 45,179,093 3.7%\n', 'B11HK39 Norsk Hydro 8,882,699 43,887,016 3.6%\n', 'BF13KN5 Wheaton Precious Metals 953,851 39,306,547 3.3%\n', '2024677 Barrick Gold 2,351,620 31,011,396 2.6%\n', 'BD73C40 Ivanhoe Mines 2,885,809 29,362,762 2.4%\n', '2651086 Nucor 224,204 28,051,661 2.3%\n', '9360493 Jetti Resources 260,000 24,237,323 2.0%\n', '9363009 Jetti Resources Series D 10,400 969,493 0.1%\n', 'BPF0KH6 Ivanhoe Electric 2,229,605 16,332,681 1.3%\n', '9384589 Ivanhoe Electric 1,107,920 8,115,924 0.7%\n', '2677929 Sociedad Minera Cerro Verde 691,083 21,321,285 1.8%\n', '2866857 Lundin Mining 2,323,081 20,440,695 1.7%\n', '10566M106 Bravo Mining 9,017,928 19,811,028 1.6%\n', '2823777 Southern Copper Corporation 230,720 19,668,054 1.6%\n', '2158684 Cameco 500,334 19,465,569 1.6%\n', 'B29NF31 Franco-Nevada 204,344 19,095,340 1.6%\n', '2849472 Steel Dynamics 132,462 13,571,042 1.1%\n', 'BS2KWR4 Metals Acquisition Ltd 1,299,305 13,193,492 1.1%\n', 'BYPBS67 ArcelorMittal 722,590 13,092,330 1.1%\n', '6717456 Northern Star Resources 1,887,957 12,966,738 1.1%\n', 'BMY5XY9 Capstone Mining 2,301,077 12,903,857 1.1%\n', 'B03Z841 Kinross Gold 1,834,235 12,056,801 1.0%\n', 'B8L02P3 Labrador Iron 703,327 11,815,975 1.0%\n', '2355731 Foran Mining 4,850,656 10,936,585 0.9%\n', 'BNVQGB0 Develop Global 9,337,774 10,705,288 0.9%\n', 'BLD1SB3 Champion Iron 3,159,580 10,683,280 0.9%\n', '2347608 First Quantum Minerals 973,860 10,089,071 0.8%\n', '9361199 MCC Mining 421,812 10,010,569 0.8%\n', 'BPCTR42 Albemarle 260,000 9,430,425 0.8%\n', '6957575 Iluka Resources 2,626,916 9,090,395 0.7%\n', 'BN7KJJ5 Endeavour Mining 514,099 8,565,592 0.7%\n', '01921DAA3 Allied Gold Corp 8.75% Deb 07/09/2028 10,000,000 7,900,008 0.6%\n', '6121176 Lynas Rare Earths 2,302,702 7,214,192 0.6%\n', 'BZ7NDP2 Nickel Industries 16,036,603 6,777,939 0.6%\n', 'BMGT167 Woodside Energy Group 433,607 6,462,412 0.5%\n', 'BNKJ1Y8 Sigma Lithium 692,800 6,408,325 0.5%\n', 'B17ZL56 Mineral Resources 216,706 6,173,282 0.5%\n', '9384431 Lifezone Metals 1,000,000 6,067,558 0.5%\n', 'BZ1C8Z0 Stelco Holdings 275,357 5,897,949 0.5%\n', 'BMDHMH2 Filo Mining 281,700 4,069,769 0.3%\n', 'B3NVP49 Sheffield Resource 22,198,711 4,046,151 0.3%\n', 'B2368L5 Pilbara Minerals 2,484,577 4,016,698 0.3%\n', 'BRXH266 AngloGold Ashanti Plc 186,389 3,702,419 0.3%\n', 'B05BDX1 Hudbay 508,600 3,631,282 0.3%\n', 'BPDXXB2 Firefly Metals 9,134,885 3,595,461 0.3%\n', 'BMQ5701 Solaris Resources 1,615,025 3,557,303 0.3%\n', '0045614 Antofagasta 156,409 3,297,102 0.3%\n', 'BJP5T05 Deterra Royalties 1,548,668 3,264,574 0.3%\n', 'BMZ1NS0 Northam Platinum 434,065 2,391,993 0.2%\n', 'B0ZGW28 Chalice Mining 2,531,820 1,899,400 0.2%\n', 'B1FFT76 Impala Platinum 415,892 1,635,464 0.1%\n', 'BYP71K0 Titan Mining 7,005,979 911,314 0.1%\n', '6259914 Equatorial Resources 3,000,000 213,969 0.0%\n', '9363507 Bindura Nickel 3,142,789 31,077 0.0%\n', '7947221 Australian Carbon 10,700,000 57 0.0%\n', '9360225 Victorian Hydrogen & Ammonia Industry 7,490,000 40 0.0%\n', '7936955 Latrobe Fertilisers 10,700,000 0 0.0%\n', 'B57R0L9 Polyus 111,912 10 0.0%\n', '7949606 Gippsland Energy 10,700,000 0 0.0%\n', 'TOTAL INVESTMENTS 1,207,836,409 100.0%\n', 'NM0924U-3899164-3/3']

['B4T3BW6 Glencore 21,852,325 98,575,838 8.2%',
 '6144690 BHP 3,211,088 72,405,556 6.0%',
 '9315284 BHP Brazil Royalty 12,000,000 19,935,132 1.7%',
 '0144403 BHP 58,636 1,326,932 0.1%',
 '0718875 Rio Tinto 1,442,689 75,019,828 6.2%',
 '0161M94V3 Rio Tinto Plc P/Opt 19/07/24 (300) (332,640) 0.0%',
 'B1XZS82 Anglo American 2,707,836 67,750,057 5.6%',
 '01HM7D1S4 Anglo American Plc C/Opt 19/07/24 (600) (492,000) 0.0%',
 '2352118 Freeport-McMoran 1,586,354 60,989,482 5.0%',
 '01LYCQ5C5 Freeport-McMoran IncP/Opt 19/07/24 (3,000) (407,009) 0.0%',
 '2636607 Newmont 1,737,380 57,491,184 4.8%',
 '9346193 Vale 6,387,658 31,295,326 2.6%',
 '2857334 Vale 2,757,301 24,342,599 2.0%',
 '01NGZRYH1 Vale S.A. C/Opt 19/07/24 (13,000) (164,544) 0.0%',
 '2009823 Agnico Eagle Mines 1,001,112 51,567,613 4.3%',
 '2879327 Teck Resources 1,195,846 45,179,093 3.7%',
 'B11HK39 Norsk Hydro 8,882,699 43,887,016 3.6%',
 'BF13KN5 Wheaton Precious Metals 953,851 39,306,547 3.3%',
 '2024677 Barrick Gold 2,351,620 31,011,396 2.6%',
 'BD73C40 Ivanhoe Mines 2,885,809 29,362,762 2.4%',
 '2651086 Nucor 224,204 28,051,661 2.3%',
 '9360493 Jetti Resources 260,000 24,237,323 2.0%',
 '9363009 Jetti Resources Series D 10,400 969,493 0.1%',
 'BPF0KH6 Ivanhoe Electric 2,229,605 16,332,681 1.3%',
 '9384589 Ivanhoe Electric 1,107,920 8,115,924 0.7%',
 '2677929 Sociedad Minera Cerro Verde 691,083 21,321,285 1.8%',
 '2866857 Lundin Mining 2,323,081 20,440,695 1.7%',
 '10566M106 Bravo Mining 9,017,928 19,811,028 1.6%',
 '2823777 Southern Copper Corporation 230,720 19,668,054 1.6%',
 '2158684 Cameco 500,334 19,465,569 1.6%',
 'B29NF31 Franco-Nevada 204,344 19,095,340 1.6%',
 '2849472 Steel Dynamics 132,462 13,571,042 1.1%',
 'BS2KWR4 Metals Acquisition Ltd 1,299,305 13,193,492 1.1%',
 'BYPBS67 ArcelorMittal 722,590 13,092,330 1.1%',
 '6717456 Northern Star Resources 1,887,957 12,966,738 1.1%',
 'BMY5XY9 Capstone Mining 2,301,077 12,903,857 1.1%',
 'B03Z841 Kinross Gold 1,834,235 12,056,801 1.0%',
 'B8L02P3 Labrador Iron 703,327 11,815,975 1.0%',
 '2355731 Foran Mining 4,850,656 10,936,585 0.9%',
 'BNVQGB0 Develop Global 9,337,774 10,705,288 0.9%',
 'BLD1SB3 Champion Iron 3,159,580 10,683,280 0.9%',
 '2347608 First Quantum Minerals 973,860 10,089,071 0.8%',
 '9361199 MCC Mining 421,812 10,010,569 0.8%',
 'BPCTR42 Albemarle 260,000 9,430,425 0.8%',
 '6957575 Iluka Resources 2,626,916 9,090,395 0.7%',
 'BN7KJJ5 Endeavour Mining 514,099 8,565,592 0.7%',
 '01921DAA3 Allied Gold Corp 8.75% Deb 07/09/2028 10,000,000 7,900,008 0.6%',
 '6121176 Lynas Rare Earths 2,302,702 7,214,192 0.6%',
 'BZ7NDP2 Nickel Industries 16,036,603 6,777,939 0.6%',
 'BMGT167 Woodside Energy Group 433,607 6,462,412 0.5%',
 'BNKJ1Y8 Sigma Lithium 692,800 6,408,325 0.5%',
 'B17ZL56 Mineral Resources 216,706 6,173,282 0.5%',
 '9384431 Lifezone Metals 1,000,000 6,067,558 0.5%',
 'BZ1C8Z0 Stelco Holdings 275,357 5,897,949 0.5%',
 'BMDHMH2 Filo Mining 281,700 4,069,769 0.3%',
 'B3NVP49 Sheffield Resource 22,198,711 4,046,151 0.3%',
 'B2368L5 Pilbara Minerals 2,484,577 4,016,698 0.3%',
 'BRXH266 AngloGold Ashanti Plc 186,389 3,702,419 0.3%',
 'B05BDX1 Hudbay 508,600 3,631,282 0.3%',
 'BPDXXB2 Firefly Metals 9,134,885 3,595,461 0.3%',
 'BMQ5701 Solaris Resources 1,615,025 3,557,303 0.3%',
 '0045614 Antofagasta 156,409 3,297,102 0.3%',
 'BJP5T05 Deterra Royalties 1,548,668 3,264,574 0.3%',
 'BMZ1NS0 Northam Platinum 434,065 2,391,993 0.2%',
 'B0ZGW28 Chalice Mining 2,531,820 1,899,400 0.2%',
 'B1FFT76 Impala Platinum 415,892 1,635,464 0.1%',
 'BYP71K0 Titan Mining 7,005,979 911,314 0.1%',
 '6259914 Equatorial Resources 3,000,000 213,969 0.0%',
 '9363507 Bindura Nickel 3,142,789 31,077 0.0%',
 '7947221 Australian Carbon 10,700,000 57 0.0%',
 '9360225 Victorian Hydrogen & Ammonia Industry 7,490,000 40 0.0%',
 '7936955 Latrobe Fertilisers 10,700,000 0 0.0%',
 'B57R0L9 Polyus 111,912 10 0.0%',
 '7949606 Gippsland Energy 10,700,000 0 0.0%']

In [3]:
df = lines_to_df(lines)
check_df_types(df)
df

/home/craigc/personal_workspace/FinanceDump/navninja/utils/data_utils.py:74: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, entry_df], ignore_index=True)

,SEDOL,Name,Holding,Value,Weight
0,B4T3BW6,Glencore,21852325.0,98575838.0,0.082
1,6144690,BHP,3211088.0,72405556.0,0.060
2,9315284,BHP Brazil Royalty,12000000.0,19935132.0,0.017
3,0144403,BHP,58636.0,1326932.0,0.001
4,0718875,Rio Tinto,1442689.0,75019828.0,0.062
...,...,...,...,...,...
69,7947221,Australian Carbon,10700000.0,57.0,0.000
70,9360225,Victorian Hydrogen & Ammonia Industry,7490000.0,40.0,0.000
71,7936955,Latrobe Fertilisers,10700000.0,0.0,0.000
72,B57R0L9,Polyus,111912.0,10.0,0.000
73,7949606,Gippsland Energy,10700000.0,0.0,0.000

In [4]:
total_weight = df['Weight'].sum()
print("Total Weight:", total_weight)

Total Weight: 1.0

In [5]:
df.to_csv("brwm.csv", index=False)