In [1]:
from jema import (
    get_latest_holdings,
    get_symbols_and_exchanges,
    append_symbols_and_exchanges,
    get_local_prices,
    get_fx_rates,
    apply_rates,
    create_jema_json,
    read_jema_json,
)

you are using nologin method, data you access may be limited

In [2]:
latest_holdings = get_latest_holdings()
display(latest_holdings.head())

,Holding,Security Description,Market Value,Security No.
0,44158,ABSA GROUP LTD,375877.04,BFX05H3
1,117334,ABU DHABI ISLAMIC BANK PJSC COMMON STOCK AED 1,515464.70,6001728
2,108419,ADES HOLDING CO COMMON STOCK SAR 1,371655.55,BR56KM3
3,420883,ADNOC LOGISTICS & SERVICES COMMON STOCK AED 1.983,500624.93,BRBN103
4,54131,AL RAJHI BANK COMMON STOCK SAR 10,1161252.36,B12LZH9

In [3]:
symbols_and_exchanges = get_symbols_and_exchanges()
display(symbols_and_exchanges.head())

,Issuer,Security No.,Symbol,Exchange,Currency,Conv Rate
0,ABSA GROUP LTD,BFX05H3,ABG,JSE,ZAC,1
1,ABU DHABI COMMERCIAL BANK PJSC,6545464,ADCB,ADX,AED,1
2,ABU DHABI ISLAMIC BANK PJSC,6001728,ADIB,ADX,AED,1
3,ABU DHABI NATIONAL OIL CO FOR DISTRIBUTION PJSC,BYVGM64,ADNOCDIST,ADX,AED,1
4,ADES HOLDING CO,BR56KM3,2382,TADAWUL,SAR,1

In [4]:
latest_holdings_with_symbols = append_symbols_and_exchanges(latest_holdings)
display(latest_holdings_with_symbols.head())

,Security Description,Security No.,Symbol,Exchange,Currency,Conv Rate,Holding,Market Value
0,ABSA GROUP LTD,BFX05H3,ABG,JSE,ZAC,1,44158,375877.04
1,ABU DHABI ISLAMIC BANK PJSC COMMON STOCK AED 1,6001728,ADIB,ADX,AED,1,117334,515464.70
2,ADES HOLDING CO COMMON STOCK SAR 1,BR56KM3,2382,TADAWUL,SAR,1,108419,371655.55
3,ADNOC LOGISTICS & SERVICES COMMON STOCK AED 1.983,BRBN103,ADNOCLS,ADX,AED,1,420883,500624.93
4,AL RAJHI BANK COMMON STOCK SAR 10,B12LZH9,1120,TADAWUL,SAR,1,54131,1161252.36

In [5]:
# loop until failures is empty
while True:
    failures = get_local_prices(latest_holdings_with_symbols)
    if not failures:
        break

display(failures)
display(latest_holdings_with_symbols.head())

Processing: JSE:ABG
Processing: ADX:ADIB
Processing: TADAWUL:2382
Processing: ADX:ADNOCLS
Processing: TADAWUL:1120
Processing: ADX:ALDAR
Processing: TADAWUL:4200
Processing: TADAWUL:2081
Processing: OTC:APHBF
Processing: NYSE:AU
Processing: TADAWUL:1080
Processing: TADAWUL:4321
Processing: ATHEX:AIA
Processing: GETTEX:318
Processing: LSE:0Q3J
Processing: GPW:CCC
Processing: DFM:DIB
Processing: TADAWUL:7203
Processing: DFM:EMAARDEV
Processing: DFM:EMAAR
Processing: DFM:DU
Processing: LSIN:0RCP
Processing: JSE:FSR
Processing: RUS:SIBN
Processing: RUS:GAZP
Processing: RUS:GAZP
Processing: LSE:0QQ8
Processing: LSE:0LV3
Processing: LSIN:HSBK
Processing: LSE:0J39
Processing: LSIN:0EXG
Processing: FX_IDC:GBPGBP
Processing: NASDAQ:KSPI
Processing: LSIN:0O8D
Processing: LSIN:0Q3Y
Processing: OTC:KUMBF
Processing: TADAWUL:1830
Processing: GPW:LPP
Processing: RUS:LKOH
Processing: RUS:LKOH
Processing: RUS:MGNT
Processing: RUS:MDMG
Processing: LSE:MTLN
Processing: RUS:GMKN
Processing: LSIN:KAP
Processing: JSE:NPN
Processing: LSIN:0RCR
Processing: KSE:NBK
Processing: JSE:NED
Processing: LSE:55VX
Processing: RUS:NVTK
Processing: RUS:NVTK
Processing: RUS:NLMK
Processing: ATHEX:OPTIMA
Processing: DFM:PARKIN
Processing: LSIN:0RTY
Processing: RUS:PLZL
Processing: GPW:PZU
Processing: QSE:QGTS
Processing: QSE:QNBK
Processing: TADAWUL:1010
Processing: TADAWUL:4142
Processing: RUS:ROSN
Processing: RUS:ROSN
Processing: RUS:RTKM
Processing: JSE:SLM
Processing: ATHEX:SAR
Processing: JSE:SOL
Processing: TADAWUL:1060
Processing: TADAWUL:4031
Processing: TADAWUL:2270
Processing: RUS:SBER
Processing: RUS:SBER
Processing: RUS:CHMF
Processing: JSE:SHP
Processing: JSE:SSW
Processing: RUS:AFKS
Processing: JSE:SBK
Processing: RUS:TATN
Processing: RUS:TATNP
Processing: RUS:TCSG
Processing: DFM:TECOM
Processing: TADAWUL:1180
Processing: BIST:TUPRS
Processing: BIST:THYAO
Processing: BIST:RAYSG
Processing: TADAWUL:4003
Processing: TADAWUL:4260
Processing: JSE:VAL
Processing: RUS:VTBR
Processing: JSE:WBC
Processing: RUS:X5

[]

,Security Description,Security No.,Symbol,Exchange,Currency,Conv Rate,Holding,Market Value,SP LC
0,ABSA GROUP LTD,BFX05H3,ABG,JSE,ZAC,1,44158,375877.04,23746.0
1,ABU DHABI ISLAMIC BANK PJSC COMMON STOCK AED 1,6001728,ADIB,ADX,AED,1,117334,515464.70,20.84
2,ADES HOLDING CO COMMON STOCK SAR 1,BR56KM3,2382,TADAWUL,SAR,1,108419,371655.55,17.45
3,ADNOC LOGISTICS & SERVICES COMMON STOCK AED 1.983,BRBN103,ADNOCLS,ADX,AED,1,420883,500624.93,5.74
4,AL RAJHI BANK COMMON STOCK SAR 10,B12LZH9,1120,TADAWUL,SAR,1,54131,1161252.36,95.0

In [6]:
fx_rates = get_fx_rates(latest_holdings_with_symbols)
display(fx_rates)

{'ZAC': 0.00044790000000000005,
 'AED': 0.20385,
 'SAR': 0.198,
 'USD': 0.75013,
 'EUR': 0.87939,
 'PLN': 0.20816,
 'RUB': 0.009309,
 'CHF': 0.9409,
 'GBP': 1.0,
 'KWF': 0.002424,
 'QAR': 0.2047,
 'TRY': 0.01718}

In [7]:
apply_rates(latest_holdings_with_symbols, fx_rates)
display(latest_holdings_with_symbols.head())
latest_holdings_with_symbols.to_csv("jema_holdings.csv", index=False)

,Security Description,Security No.,Symbol,Exchange,Currency,Conv Rate,Holding,Market Value,SP LC,SP GBP,Holding GBP
0,ABSA GROUP LTD,BFX05H3,ABG,JSE,ZAC,1,44158,375877.04,23746.0,10.635833,4.696571e+05
1,ABU DHABI ISLAMIC BANK PJSC COMMON STOCK AED 1,6001728,ADIB,ADX,AED,1,117334,515464.70,20.84,4.248234,4.984623e+05
2,ADES HOLDING CO COMMON STOCK SAR 1,BR56KM3,2382,TADAWUL,SAR,1,108419,371655.55,17.45,3.455100,3.745985e+05
3,ADNOC LOGISTICS & SERVICES COMMON STOCK AED 1.983,BRBN103,ADNOCLS,ADX,AED,1,420883,500624.93,5.74,1.170099,4.924748e+05
4,AL RAJHI BANK COMMON STOCK SAR 10,B12LZH9,1120,TADAWUL,SAR,1,54131,1161252.36,95.0,18.810000,1.018204e+06

In [8]:
create_jema_json(latest_holdings_with_symbols, fx_rates)

jd = read_jema_json()
display(jd)
display(jd['total_nav_gbp'])

{'total_holding_gbp': 220067804,
 'equity_nav_gbp': 5.441834915924827,
 'jema_price': 2.4975,
 's_account_divs_now_gbp': 53235378,
 's_account_divs_per_share': 1.3164040059347182,
 'total_nav_gbp': 6.758238921859545,
 'total_holding_rus': 194262350,
 'total_holding_non': 25805454,
 'data_timestamp': '2025-12-17T11:07:38.992916',
 'declared_nav': 65.9,
 'official_pd': 2.789833080424886,
 'equity_pd_total': -0.5410555375924049,
 'actual_pd_total': -0.6304510644153423}

6.758238921859545

In [9]:
# copy the files to streamlit folder
import shutil
streamlit_dir = "/home/craigc/personal_workspace/jema-st/"
shutil.copy("jema_holdings.csv", f"{streamlit_dir}jema_holdings.csv")
shutil.copy("jema_data.json", f"{streamlit_dir}jema_data.json")

'/home/craigc/personal_workspace/jema-st/jema_data.json'

In [10]:
# cd into streamlit folder and git add, commit, push
import os
script_dir = "/home/craigc/personal_workspace/FinanceDump/jema"
os.chdir(streamlit_dir)
os.system("git pull")
os.system("git add jema_holdings.csv jema_data.json")
os.system('git commit -m "Update JEMA data"')
os.system("git push")
os.chdir(script_dir)

Already up-to-date.
[main 067e59f] Update JEMA data
 2 files changed, 106 insertions(+), 106 deletions(-)
 rewrite jema_data.json (94%)

To github.com-dyler:/jema-st/jema-st
   6b62791..067e59f  main -> main