In [ ]:
import shutil
import os
from datetime import datetime

from jema import (
    get_latest_holdings,
    get_jema_holdings_xlsx,
    get_symbols_and_exchanges,
    append_symbols_and_exchanges,
    get_local_prices,
    get_fx_rates,
    apply_rates,
    create_jema_json,
    read_jema_json,
)
official_nav = float(input())

In [7]:
# get_jema_holdings_xlsx()
latest_holdings = get_latest_holdings()
display(latest_holdings.head())

,Holding,Security Description,Market Value,Security No.
0,43170,ABSA GROUP LTD,463321.32,BFX05H3
1,114708,ABU DHABI ISLAMIC BANK PJSC COMMON STOCK AED 1,481565.01,6001728
2,105992,ADES HOLDING CO COMMON STOCK SAR 1,366401.49,BR56KM3
3,411462,ADNOC LOGISTICS & SERVICES COMMON STOCK AED 1.983,491398.93,BRBN103
4,52919,AL RAJHI BANK COMMON STOCK SAR 10,1021664.37,B12LZH9

In [8]:
symbols_and_exchanges = get_symbols_and_exchanges()
display(symbols_and_exchanges.head())

,Issuer,Security No.,Symbol,Exchange,Currency,Conv Rate
0,ABSA GROUP LTD,BFX05H3,ABG,JSE,ZAC,1
1,ABU DHABI COMMERCIAL BANK PJSC,6545464,ADCB,ADX,AED,1
2,ABU DHABI ISLAMIC BANK PJSC,6001728,ADIB,ADX,AED,1
3,ABU DHABI NATIONAL OIL CO FOR DISTRIBUTION PJSC,BYVGM64,ADNOCDIST,ADX,AED,1
4,ADES HOLDING CO,BR56KM3,2382,TADAWUL,SAR,1

In [9]:
latest_holdings_with_symbols = append_symbols_and_exchanges(latest_holdings)
display(latest_holdings_with_symbols.head())

,Security Description,Security No.,Symbol,Exchange,Currency,Conv Rate,Holding,Market Value
0,ABSA GROUP LTD,BFX05H3,ABG,JSE,ZAC,1,43170,463321.32
1,ABU DHABI ISLAMIC BANK PJSC COMMON STOCK AED 1,6001728,ADIB,ADX,AED,1,114708,481565.01
2,ADES HOLDING CO COMMON STOCK SAR 1,BR56KM3,2382,TADAWUL,SAR,1,105992,366401.49
3,ADNOC LOGISTICS & SERVICES COMMON STOCK AED 1.983,BRBN103,ADNOCLS,ADX,AED,1,411462,491398.93
4,AL RAJHI BANK COMMON STOCK SAR 10,B12LZH9,1120,TADAWUL,SAR,1,52919,1021664.37

In [10]:
# loop until failures is empty
while True:
    failures = get_local_prices(latest_holdings_with_symbols)
    if not failures:
        break

display(failures)
display(latest_holdings_with_symbols.head())

Processing: JSE:ABG
Processing: ADX:ADIB
Processing: TADAWUL:2382
Processing: ADX:ADNOCLS
Processing: TADAWUL:1120
Processing: ADX:ALDAR
Processing: TADAWUL:4200
Processing: TADAWUL:2081
Processing: OTC:APHBF
Processing: NYSE:AU
Processing: TADAWUL:1080
Processing: TADAWUL:4321
Processing: ATHEX:AIA
Processing: LSIN:0DP9
Processing: GETTEX:318
Processing: LSE:0Q3J
Processing: JSE:DSY
Processing: DFM:DIB
Processing: TADAWUL:7203
Processing: DFM:EMAARDEV
Processing: DFM:EMAAR
Processing: DFM:DU
Processing: TADAWUL:7020
Processing: ATHEX:EUROB
Processing: JSE:FSR
Processing: RUS:SIBN
Processing: RUS:GAZP
Processing: RUS:GAZP
Processing: LSE:0QQ8
Processing: LSE:0LV3
Processing: LSIN:HSBK
Processing: LSE:0J39
Processing: FX_IDC:GBPGBP
Processing: JSE:JSE
Processing: NASDAQ:KSPI
Processing: LSIN:0O8D
Processing: LSIN:0HLK
Processing: LSIN:0Q3Y
Processing: OTC:KUMBF
Processing: RUS:LKOH
Processing: RUS:LKOH
Processing: RUS:MGNT
Processing: RUS:MDMG
Processing: LSE:MTLN
Processing: RUS:GMKN
Processing: LSIN:0RGC
Processing: LSIN:KAP
Processing: JSE:NPN
Processing: LSIN:0RCR
Processing: KSE:NBK
Processing: JSE:NED
Processing: LSE:55VX
Processing: RUS:NVTK
Processing: RUS:NVTK
Processing: RUS:NLMK
Processing: ATHEX:OPTIMA
Processing: DFM:PARKIN
Processing: ATHEX:TPEIR
Processing: RUS:PLZL
Processing: GPW:PZU
Processing: QSE:QGTS
Processing: QSE:QNBK
Processing: TADAWUL:1010
Processing: TADAWUL:4142
Processing: RUS:ROSN
Processing: RUS:ROSN
Processing: RUS:RTKM
Processing: JSE:SLM
Processing: ATHEX:SAR
Processing: JSE:SOL
Processing: TADAWUL:1060
Processing: TADAWUL:4031
Processing: RUS:SBER
Processing: RUS:SBER
Processing: RUS:CHMF
Processing: JSE:SHP
Processing: JSE:SSW
Processing: RUS:AFKS
Processing: JSE:SBK
Processing: RUS:TATN
Processing: RUS:TATNP
Processing: RUS:TCSG
Processing: DFM:TECOM
Processing: TADAWUL:1180
Processing: BIST:TUPRS
Processing: BIST:THYAO
Processing: BIST:RAYSG
Processing: TADAWUL:4003
Processing: TADAWUL:4260
Processing: JSE:VAL
Processing: RUS:VTBR
Processing: JSE:WBC
Processing: RUS:X5

[]

,Security Description,Security No.,Symbol,Exchange,Currency,Conv Rate,Holding,Market Value,SP LC
0,ABSA GROUP LTD,BFX05H3,ABG,JSE,ZAC,1,43170,463321.32,26789.0
1,ABU DHABI ISLAMIC BANK PJSC COMMON STOCK AED 1,6001728,ADIB,ADX,AED,1,114708,481565.01,26.38
2,ADES HOLDING CO COMMON STOCK SAR 1,BR56KM3,2382,TADAWUL,SAR,1,105992,366401.49,17.67
3,ADNOC LOGISTICS & SERVICES COMMON STOCK AED 1.983,BRBN103,ADNOCLS,ADX,AED,1,411462,491398.93,5.45
4,AL RAJHI BANK COMMON STOCK SAR 10,B12LZH9,1120,TADAWUL,SAR,1,52919,1021664.37,102.0

In [11]:
fx_rates = get_fx_rates(latest_holdings_with_symbols)
display(fx_rates)

{'ZAC': 0.0004605,
 'AED': 0.20163,
 'SAR': 0.1958,
 'USD': 0.74205,
 'EUR': 0.87338,
 'RON': 0.17111,
 'PLN': 0.2064,
 'RUB': 0.009628,
 'CHF': 0.9555,
 'GBP': 1.0,
 'CZK': 0.035984,
 'KWF': 0.002399,
 'QAR': 0.20345,
 'TRY': 0.01652}

In [12]:
apply_rates(latest_holdings_with_symbols, fx_rates)
display(latest_holdings_with_symbols.head())
latest_holdings_with_symbols.to_csv("jema_holdings.csv", index=False)

,Security Description,Security No.,Symbol,Exchange,Currency,Conv Rate,Holding,Market Value,SP LC,SP GBP,Holding GBP
0,ABSA GROUP LTD,BFX05H3,ABG,JSE,ZAC,1,43170,463321.32,26789.0,12.336335,5.325596e+05
1,ABU DHABI ISLAMIC BANK PJSC COMMON STOCK AED 1,6001728,ADIB,ADX,AED,1,114708,481565.01,26.38,5.318999,6.101318e+05
2,ADES HOLDING CO COMMON STOCK SAR 1,BR56KM3,2382,TADAWUL,SAR,1,105992,366401.49,17.67,3.459786,3.667096e+05
3,ADNOC LOGISTICS & SERVICES COMMON STOCK AED 1.983,BRBN103,ADNOCLS,ADX,AED,1,411462,491398.93,5.45,1.098884,4.521488e+05
4,AL RAJHI BANK COMMON STOCK SAR 10,B12LZH9,1120,TADAWUL,SAR,1,52919,1021664.37,102.0,19.971600,1.056877e+06

In [13]:
create_jema_json(latest_holdings_with_symbols, fx_rates, official_nav)

jd = read_jema_json()
display(jd)
display(jd['total_nav_gbp'])

{'total_holding_gbp': 226317893,
 'equity_nav_gbp': 5.596387067260139,
 'jema_price': 2.44307,
 's_account_divs_now_gbp': 57021830,
 's_account_divs_per_share': 1.4100353610286844,
 'total_nav_gbp': 7.006422428288824,
 'total_holding_rus': 199029809,
 'total_holding_non': 27288084,
 'data_timestamp': '2026-02-20T12:31:26.878320',
 'official_nav': 70.3,
 'adjusted_nav': 72.39956006429279,
 'official_pd': 2.4752062588904695,
 'equity_pd_total': -0.5634558563162304,
 'actual_pd_total': -0.651309919576649}

7.006422428288824

In [ ]:
# copy the files to streamlit folderand git add, commit, push
script_dir = "/home/craigc/personal_workspace/FinanceDump/jema"
streamlit_dir = "/home/craigc/personal_workspace/jema-st/"

# cd into streamlit folder and git add, commit, push
os.chdir(streamlit_dir)
os.system("git fetch && git reset --hard @{u}")

shutil.copy(f"{script_dir}/jema_holdings.csv", f"{streamlit_dir}jema_holdings.csv")
shutil.copy(f"{script_dir}/jema_data.json", f"{streamlit_dir}jema_data.json")

os.system("git add jema_holdings.csv jema_data.json")

commit_message = f"Update JEMA data - {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}"
os.system(f'git commit -m "{commit_message}"')
os.system("git push")
os.chdir(script_dir)

HEAD is now at b4a829a Update JEMA data - 2026-02-19 10:13:15
[main d7f4d89] Update JEMA data - 2026-02-20 12:37:39
 2 files changed, 106 insertions(+), 106 deletions(-)

To github.com-dyler:jema-st/jema-st.git
   b4a829a..d7f4d89  main -> main